/* @function rem ($px) {
    @return $px / $baseFontSize +0rem;
} */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.834vw;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.42;
  color: #373B44;
  background: #FFF9F4;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 94em;
  min-width: none;
  margin: 0 auto;
  padding: rem(24px) 0 rem(50px);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo__img {
  height: 4em;
  width: 4em;
}

.logo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  font-size: 2em;
  font-weight: 700;
}
.logo__name-right {
  color: #FAAA32;
}

.menu {
  padding-top: 0.8em;
  margin: 0 2em;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.8em;
  margin-bottom: 1em;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 1.4em;
  font-weight: 700;
  white-space: nowrap;
}
.menu__link:hover {
  color: #FAAA32;
}

.phone-number {
  font-size: 1.8em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.4em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 16px;
  height: 16px;
  margin-right: 0.6em;
}

.phone-numder__text {
  white-space: nowrap;
}

.fixed-menu {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(20px);
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #FF6F3C;
}
.fixed-menu__item:hover .fixed-menu__link:before {
  background: #FF6F3C;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #FF6F3C;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #FF6F3C;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: rem(9px);
  height: rem(9px);
  border-radius: 50%;
  background: #FF9A3C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}