$containerWidth: 94em;
$baseFontSize: 0.834vw;

$tablets: 768px;
$phones: 480px;

@import './media';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import './layout/base';
@import './blocks/header';
@import './blocks/fixed-menu';