@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.834vw;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.42;
  color: #373B44;
  background: #FFF9F4;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  min-height: 650px;
}

.container {
  width: 95%;
  max-width: 94em;
  margin: 0 auto;
  padding: 3em 0 5em;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 15px 10px;
  }
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2.5%;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo__img {
  height: 4em;
  width: 4em;
}
@media screen and (max-width: 768px) {
  .logo__img {
    height: 3em;
    width: 3em;
  }
}

.logo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
  font-size: 2em;
  font-weight: 700;
}
.logo__name-right {
  color: #FAAA32;
}
@media screen and (max-width: 768px) {
  .logo__name {
    margin-left: 5px;
  }
}

.menu {
  padding-top: 0.8em;
  margin: 0 2em;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.8em;
  margin-bottom: 1em;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 1.4em;
  font-weight: 700;
  white-space: nowrap;
}
.menu__link:hover {
  color: #FAAA32;
}

.phone-number {
  font-size: 1.8em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.4em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-numder__text {
  white-space: nowrap;
}

.fixed-menu {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 2em;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #FF6F3C;
}
.fixed-menu__item:hover .fixed-menu__link:before {
  background: #FF6F3C;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #FF6F3C;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #FF6F3C;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background: #FF9A3C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .preview {
    background: none;
  }
}

.preview__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .preview__section {
    display: none;
  }
}

.preview__section-mobile {
  display: none;
  height: 100%;
  margin-top: 5em;
}
@media screen and (max-width: 768px) {
  .preview__section-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.preview__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .preview__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.preview__image-section {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .preview__image-section {
    width: 95%;
  }
}

.image__section {
  height: 35em;
  border-radius: 10px;
  border: 2px solid;
  border-color: #FF9A3C;
}
@media screen and (max-width: 768px) {
  .image__section {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .preview__icon-section {
    display: none;
  }
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.preview__main-title {
  font-size: 4.8em;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .preview__main-title {
    padding: 0 5%;
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 480px) {
  .preview__main-title {
    font-size: 3.2em;
    padding: 0 10%;
    margin-bottom: 1.2em;
  }
}

.preview__title-desc {
  font-size: 2.1em;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .preview__title-desc {
    padding: 0 20%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .preview__title-desc {
    font-size: 1.8em;
    padding: 0 12%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2em;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 4.1em;
  height: 4.1em;
  margin-right: 0.7em;
}

.feature__icon-pic {
  width: 5em;
  height: 5em;
}

.feature__text {
  font-size: 1.5em;
  max-width: 7em;
}

.button {
  font-size: 1.2em;
  font-weight: 700;
  padding: 1.3em 3em;
  text-transform: uppercase;
  border-radius: 10px;
  line-height: 1;
  background: #FF9A3C;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 16px;
    height: 60px;
    padding: 21px 41px;
  }
}
.button:hover {
  background: #FF6F3C;
}
.button--transparent {
  font-weight: 400;
  text-transform: none;
  background: none;
}
.button--transparent:hover {
  background: none;
  color: #FF6F3C;
}

.button__form {
  height: rem(60px);
}

.catalog {
  background: #fff;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.catalog__title {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .catalog__title {
    font-size: 3.2em;
  }
}

.products {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .products {
    margin-bottom: 10px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.products__item {
  font-size: 1.3em;
  font-weight: 700;
  height: 100%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .products__item {
    padding: 5px;
  }
}
.products__item-column {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products__item-column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 20%;
  }
}
.products__item-square {
  width: 100%;
  height: 50%;
  border: 2px solid #FF9A3C;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.products__item-square:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .products__item-square {
    margin-bottom: 0;
    margin-right: 10px;
    height: 100%;
  }
  .products__item-square:last-child {
    margin-right: 0;
  }
}
.products__item-width {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .products__item-width {
    width: 100%;
    height: 40%;
  }
}
.products__item-trio {
  height: 100%;
}
.products__item-two {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .products__item-two {
    padding-bottom: 5px;
  }
}
.products__item-two .products__item-square {
  height: 100%;
  margin-bottom: 0;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .products__item-two .products__item-square {
    margin-right: 10px;
  }
}
.products__item-two .products__item-square:last-child {
  margin-right: 0;
}
.products__item-twoleft {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .products__item-twoleft {
    padding-top: 5px;
  }
}
.products__item-twoleft .products__item-square {
  height: 100%;
  margin-bottom: 0;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .products__item-twoleft .products__item-square {
    margin-right: 10px;
  }
}
.products__item-twoleft .products__item-square:last-child {
  margin-right: 0;
}
.products__item-wide {
  height: 50%;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .products__item-wide {
    padding-top: 5px;
  }
}
.products__item-wideleft {
  height: 50%;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .products__item-wideleft {
    padding-bottom: 5px;
  }
}
.products__item-gor {
  border: 2px solid #FF9A3C;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}

.products__desc {
  position: relative;
  height: 100%;
  background: url(../img/icon/sect.png) top center no-repeat;
}

.products__name {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger {
  position: fixed;
  top: 20px;
  right: 3em;
  height: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger__line {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  background-color: #FAAA32;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}

.burger--active .burger__line {
  background-color: #fff;
}
.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(7px);
          transform: rotate(-45deg) translateY(-8px) translateX(7px);
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.portfolio__title {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .portfolio__title {
    font-size: 3.2em;
  }
}

.about {
  background: #fff;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about__title {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .about__title {
    font-size: 3.2em;
  }
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.reviews__title {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 3.2em;
  }
}

.footer {
  background: #FFF3EA;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__title {
  font-size: 4.8em;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .footer__title {
    font-size: 3.2em;
  }
}