.catalog {
    background: #fff;
    height: 100vh;
    min-height: 650px;
}

.catalog__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.catalog__title {
    font-size: 4.8em;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.products {
    width: 100%;
    height: 100%;
}

.products__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    text-align: center;
}

.products__item {
    height: 100%;
    padding: 10px;
    &-column {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &-square {
        width: 100%;
        height: 50%;
        border: 2px solid #FF9A3C;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-width {
        width: 40%;
    }
    &-trio {
        height: 100%;
    }
    &-two {
        height: 50%;
        display: flex;
        padding-bottom: 10px;
        & .products__item-square {
            height: 100%;
            margin-bottom: 0;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-twoleft {
        height: 50%;
        display: flex;
        padding-top: 10px;
        & .products__item-square {
            height: 100%;
            margin-bottom: 0;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-wide {
        height: 50%;
        padding-top: 10px;
    }
    &-wideleft {
        height: 50%;
        padding-bottom: 10px;
    }
    &-gor {
        border: 2px solid #FF9A3C;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
    }
}