.footer {
    background: #FFF3EA;
    color: #000;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1em;
}

.footer__title {
    font-size: 2.4em;
    text-transform: none;
    @include tablets {
        margin-bottom: 20px;
     }
}

.clients {
    margin-bottom: 2em;
    @include tablets {
        display: none;
    }
}

.clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__item {
    width: 16%; 
    height: 8em;
    margin-right: 0.57%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
        margin-right: 0;
    }
}



.contacts {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    @include tablets {
        flex-direction: column;
        text-align: center;
    }
}

.contacts__map {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35.5%;
    margin-right: 2%;
    @include tablets {
        display: none;
     }
}

.contacts__map-block {
    width: 100%;
    height: 100%;
}

.contacts__address {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin-right: 2%;
    @include tablets {
        width: 100%;
     }
}

.contacts__work {
    height: 100%;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work__time {
    @include tablets {
        display: none;
     }
}

.contacts__form {
    width: 35.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include tablets {
        width: 90%;
    }
    
}

.footer__copyright {
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid #FAAA32;
}

.footer__text {
    height: 2em;
    font-size: 1.6em;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__title {
    font-size: 1.4em;
}

.form__input {
    width: 100%;
    margin-bottom: 0.5em;
    height: 3em;
    border-radius: 6px;
    border: solid 3px transparent;
    &--textarea {
       height: 11em;
       resize: none;
    }
    &:focus {
        border-color: #FAAA32;
        outline:none;
    }
}

.form__buttons {
    width: 100%;
}
