.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
}

.logo {
    display: flex;
    justify-content: left;
}

.logo__img {
    height: 4em;
    width: 4em;
}

.logo__name {
    display: flex;
    align-items: center;
    margin-left: 1em;
    font-size: 2em;
    font-weight: 700;
    &-right {
        color: #FAAA32;
    }
}

.menu {
    padding-top: 0.8em;
    @include tablets {
        display: none;
    }
    margin: 0 2em;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: 1.8em;

    &:last-child {
        margin-right: 0;
    }
    margin-bottom: 1em;
}

.menu__link {
    font-size: 1.4em;
    font-weight: 700;
    white-space: nowrap;
    &:hover {
        color: #FAAA32;
    }
}

.phone-number {
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-top: 0.4em;
    flex-shrink: 0;
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number__icon-elem {
    width: 16px;
    height: 16px;
    margin-right: 0.6em;
    //padding-bottom: 0.3em;
}

.phone-numder__text {
    white-space: nowrap;

}