.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    @include tablets {
        flex-direction: column;
        margin-left: 2.5%;
    }
}

.logo {
    display: flex;
    justify-content: left;
}

.logo__img {
    height: 4em;
    width: 4em;
    @include tablets {
        height: 3em;
        width: 3em;
    }
}


.logo__name {
    display: flex;
    align-items: center;
    margin-left: 1em;
    font-size: 2em;
    font-weight: 700;
    &-right {
        color: #FAAA32;
    }
    @include tablets {
        margin-left: 5px;
    }
}

.menu {
    padding-top: 0.8em;
    @include tablets {
        display: none;
    }
    margin: 0 2em;
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: 1.8em;

    &:last-child {
        margin-right: 0;
    }
    margin-bottom: 1em;
}

.menu__link {
    font-size: 1.4em;
    font-weight: 700;
    white-space: nowrap;
    &:hover {
        color: #FAAA32;
    }
}

.phone-number {
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-top: 0.4em;
    flex-shrink: 0;
}

.phone-numder__text {
    white-space: nowrap;

}