.preview {
   // background: url(../../img/vorota.jpg) left 75% center no-repeat;
    height: 100vh;
    min-height: 650px;
    
    @include tablets {
        background: none;
    }
}

.preview__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview__title-section {
    width: 40%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
        
            width: rem(323px);
            height: rem(323px);
            content: "";
            background: url(../img/beats.png) center no-repeat;
            background-size: cover;
            margin-bottom: rem(60px);
        }
    }

    @include phones {
        &:before {
            margin-bottom: rem(40px);
        }

    }
}

.preview__image-section {
    width: 50%;
}

.image__section {
    height: 35em;
    border-radius: 10px;
    border: 2px solid;
    border-color: #FF9A3C;
}

.preview__icon-section {
    @include tablets {
        display: none;
    }
}

.preview__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.preview__main-title {
    font-size: 4.8em;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include tablets {
        padding: 0 5%;
        margin-bottom: 0;
    }

    @include phones {
        font-size: rem(32px);
        padding: 0 10%;
        margin-bottom: rem(12px);
    }
}

.preview__title-desc {
    font-size: 2.1em;
    margin-bottom: 50px;

    @include tablets {
        padding: 0 20%;
        margin-bottom: 20px;
    }

    @include phones {
        font-size: 1.8em;
        padding: 0 12%;
    }
}